/* nav-bar */
.bg-uos{
    background-color: rgb(10,77,155);
  }
  .logo{
    font-size: 2.25rem;
    color: white;
  }
  .nav-link{
    font-size: 1.25rem;
    color: white;
  }
/* header */
  .logo-main{
    font-size: 3.25rem;
    color: black;
    text-align: center;
  }
  .main-background{
    height:400px;
  } 
  .search{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  form{
    display: flex;
    border: 2px solid rgb(10,77,155);
    border-radius: 12px;
  }
  .search-form{
    padding: 0px;
    margin-left: 20px;
    width: 450px;
    height: 50px;
    font-size: 1.35rem;
    border: 0px;
  }
  .search-btn{
    padding: 0px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(http://kibc24.com/img/icon-search.png);
    background-size: cover;
    background-color: white;
    border: 0px;
  }
  input::placeholder{
    color: rgb(10,77,155);
  }
/* main */
  .card-header{
    background-color: white;
  }
  .board-profile{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }